{{define "base"}}
<!doctype html>
<html lang="en" class="theme-night">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{block "title" .}}Gopher Bookshop{{end}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header class="nav-bar">
      <div class="container nav-inner">
        <div class="nav-left">
          <a href="/" class="nav-title">
            <span class="nav-logo">
              <img src="/static/img/gopher-logo.png" alt="Gopher Bookshop logo" />
            </span>
            <span class="nav-name">Gopher Bookshop</span>
          </a>
        </div>
        <div class="nav-right">
          <div class="nav-actions">
            <a href="/" class="pixel-button">HOME</a>
            <a href="/books" class="pixel-button">Books Page</a>
            <a href="/api/books" class="pixel-button">Books API</a>
            <a href="/api/healthz" class="pixel-button">Health API</a>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      {{block "content" .}}{{end}}
    </main>
    <footer class="footer">
      <span>✶</span> Created by <a href="https://github.com/dotdc">David Calvert</a> for your Cursor adventures <span>✶</span><br><br>
      &copy; 2025 Gopher Bookshop
    </footer>
    <script src="/static/js/app.js" defer></script>
  </body>
</html>
{{end}}
